@model IEnumerable<ABZVehicleInsuranceMvcProject.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["AlertMessage"] != null)
{


    <div id="alertMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success  !</strong>    @TempData["AlertMessage"]
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
               $(document).ready(function() {
            var alertMessage = $("#alertMessage");

            if (alertMessage.length > 0) {
                // Hide the alert after 3 seconds with a fade-out effect
                setTimeout(function() {
                    alertMessage.fadeOut(); // This will fade out the alert
                }, 3000); // 3000 milliseconds = 3 seconds
            }
        });
</script>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClaimNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimStatus)
            </td>
            <td>
                   @*  @Html.ActionLink("Edit", "Edit", new { claimNo = item.ClaimNo }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { claimNo = item.ClaimNo }, new { @class ="btn btn-success"}) |
                    @Html.ActionLink("Delete", "Delete", new { claimNo = item.ClaimNo }, new { @class = "btn btn-danger" }) |
                    @Html.ActionLink("ByPolicy", "ByPolicy", new { policyNo = item.PolicyNo }, new { @class = "btn btn-primary" }) | *@
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                @Html.ActionLink("Edit", "Edit", new { claimNo = item.ClaimNo }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Details", "Details", new { claimNo = item.ClaimNo }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Delete", "Delete", new { claimNo = item.ClaimNo }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("ByPolicy", "ByPolicy", new { policyNo = item.PolicyNo }, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
