@model IEnumerable<ABZVehicleInsuranceMvcProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductUIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuredInterests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyCoverage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductUIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuredInterests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyCoverage)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { productId = item.ProductID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { productId = item.ProductID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { productId = item.ProductID }, new { @class = "btn btn-danger" })|
                    @Html.ActionLink("Add-on", "Index", "ProductAddon", new { productId = item.ProductID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
