@model IEnumerable<ABZVehicleInsuranceMvcProject.Models.PolicyAddon>

@{
    ViewData["Title"] = "BYPolicy";
}

<h1>BYPolicy</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddonID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
           
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to List</a>
