@model ABZVehicleInsuranceMvcProject.Models.Proposal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proposal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProposalNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProposalNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { proposalNo = Model.ProposalNo }) |
    <a asp-action="Index">Back to List</a>
</div>
