@model IEnumerable<ABZVehicleInsuranceMvcProject.Models.Proposal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (TempData["AlertMessage"] != null)
{


    <div id="alertMessage" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success  !</strong>    @TempData["AlertMessage"]
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
           $(document).ready(function() {
        var alertMessage = $("#alertMessage");

        if (alertMessage.length > 0) {
            // Hide the alert after 3 seconds with a fade-out effect
            setTimeout(function() {
                alertMessage.fadeOut(); // This will fade out the alert
            }, 3000); // 3000 milliseconds = 3 seconds
        }
    });
</script>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProposalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                   @*  @Html.ActionLink("Edit", "Edit", new { proposalNo = item.ProposalNo }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { proposalNo = item.ProposalNo }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { proposalNo = item.ProposalNo }, new { @class = "btn btn-danger" })  |
                    @Html.ActionLink("ByAgent", "ByAgent", new { agentId = item.AgentID }, new { @class = "btn btn-primary" })  |
                    @Html.ActionLink("ByCustomer", "ByCustomer", new { customerId = item.CustomerID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("ByProduct", "ByProduct", new { productId = item.ProductID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("ByVehicle", "ByVehicle", new { regNo = item.RegNo }, new { @class = "btn btn-primary" }) *@
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                @Html.ActionLink("Edit", "Edit", new { proposalNo = item.ProposalNo }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Details", "Details", new { proposalNo = item.ProposalNo }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("Delete", "Delete", new { proposalNo = item.ProposalNo }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("ByAgent", "ByAgent", new { agentId = item.AgentID }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("ByCustomer", "ByCustomer", new { customerId = item.CustomerID }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("ByProduct", "ByProduct", new { productId = item.ProductID }, new { @class = "dropdown-item" })
                            </li>
                            <li>
                                @Html.ActionLink("ByVehicle", "ByVehicle", new { regNo = item.RegNo }, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
