@model IEnumerable<ABZVehicleInsuranceMvcProject.Models.Proposal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProposalNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasicAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { proposalNo = item.ProposalNo }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Details", new { proposalNo = item.ProposalNo }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { proposalNo = item.ProposalNo }, new { @class = "btn btn-danger" })  |
                    @Html.ActionLink("ByAgent", "ByAgent", new { agentId = item.AgentID }, new { @class = "btn btn-primary" })  |
                    @Html.ActionLink("ByCustomer", "ByCustomer", new { customerId = item.CustomerID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("ByProduct", "ByProduct", new { productId = item.ProductID }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("ByVehicle", "ByVehicle", new { regNo = item.RegNo }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
